html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway';
}

body, html, #root, .app , .dashboard-row, .dashboard, .journal, .foodPanel {
  height: 100%;
}

.app {  
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
  width: 100%;
}

.header {
  padding-right: 20px;  
  margin-bottom: 0px;
  background-color: coral;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 10px;
}

.dashboard, .macroColumn {
  overflow: hidden;
  display: flex;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.macroColumn {
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
}

.dashboard {
  padding-bottom: 70px;
  padding-right: 10px;
}

.dashboard-row {
  margin-left: 0px;
  padding-left: 0px;
}

.journal {
  overflow-y: auto;
}

.searchResults {
  list-style-type: none;
  list-style-position: inside;
  border: 1px solid;
  border-collapse: collapse;
}

.searchResults:hover {
  background-color: rgb(128, 164, 202);
  color: white;
}

.searchImage {
  width: 100px;
  padding-right: 10px;
}

.searchContainer {
  padding: 0px;
  margin: 0px;
}

.searchBox {
  margin: 0px;
  padding: 0px;
}

.journalHeader {
  text-align: center;
  padding-top: 10px;
  background-color: lightgray;
  margin-bottom: 10px;
}

.macro-item {
  text-align: center;
}

.macroCol {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: relative;
}

.macroItem {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  
}

.mealPickerHeader {
  background-color: coral;
  vertical-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.mealPickerFoodList {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  margin-left: 0px;
}

.mealItem {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 0px;
  padding-right: none;

}

.gaugeChart {
  text-align: center;
  align-content: center;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.foodPanel {
  overflow-y: auto;
  overflow: auto;
  margin: 0px;
}


.foodPanelItem {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
 
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.foodPanelList {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}

.foodHeader {
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  align-content: center;
  display: flex;
  background-color: lightgray;
}

.custom-yellow {
  background-color: #9b870c;
}

.mealPicker {
  margin-bottom: 20px;
}

.journalContainer {
  position: relative;
}

.mobileYourFoods {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: royalblue;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 100%;
}

.mobileButtonText {
  text-align: center;
}

.macroShowButton {
  display: none;
}

.mealTotalsButton {
  display: none;
}

@media (max-width: 1199px) {
  .mealTotalColumn {
    display: none;
  }

  .macroColumn {
    display: none;
  } 

  .macroShowButton {
    display: flex;
  }

  .mealTotalsButton {
    display: flex;
  }

}

@media (max-width: 575px) {
  .foodPanel {
    display: none;
  }

  .mealPickerColumn {
    
    padding-right: 0px;
    
  }

  .mobileYourFoods {
    display: flex;
  }

  html, body, .app {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}