
body, html {
  margin: 0;
  padding: 0;
}

.searchResults {
  list-style-type: none;
  list-style-position: inside;
  border: 1px solid;
  border-collapse: collapse;
}

.searchResults:hover {
  background-color: rgb(128, 164, 202);
  color: white;
}

.searchImage {
  height: 100%;
  padding-right: 10px;
}

.searchContainer {
  padding: 0px;
  margin: 0px;
}

.searchBox {
  margin: 0px;
  padding: 0px;
}

.journalHeader {
  text-align: center;
  padding-top: 10px;
}

.macro-item {
  text-align: center;
}

.macroRow {
  margin-left: 0;
  margin-right: 0;
}

.mealPickerHeader {
  background-color: #9CD6E4;
  vertical-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.mealPickerFoodList {
  list-style-type: none;
  background-color: #468499;
  margin-left: 0;
  width: 100%;
  padding-left: 10px;
  margin-left: 0px;
}

.mealItem {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 0px;
  padding-right: none;
  width: 100%;
}

.gaugeChart {
  text-align: center;
  align-content: center;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}